<div class="project-card" (click)="clickEvent($event)">
    <i class="iconfont platform-icon" [ngClass]="project.icon"></i>
    <div class="txt-container">
        <div class="txt-area">
            <h3 class="name">{{project.name}}</h3>
            <span class="desc">{{project.descrption}}</span>
        </div>
        <i class="iconfont type-icon"
            [ngClass]="{'icon-qrcode': project.type=='qrcode', 'icon-url': project.type=='website','icon-download': project.type=='resource'}"></i>
    </div>
    <div class="qrcode-container" *ngIf="project.type === 'qrcode'">
        <img class="qrcode" [src]="project.url">
    </div>
</div>