.project-card {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition-duration: .2s;
    text-align: center;
    width: 250px;
    position: relative;
    box-sizing: border-box;
    height: 100%;

    &:hover {
        box-shadow: 0px 0px 5px #ff860d;

        .platform-icon {
            color: #ff860d;
        }

        .qrcode-container {
            display: block;
        }
    }
}

.txt-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.platform-icon {
    transition-duration: .2s;
    font-size: 25px;
}


.type-icon {
    font-size: 20px;
}

.txt-area {
    flex: 1;
}

.name {
    margin: 0;
}

.desc {
    color: #aaa;
    font-size: 12px;
}

.qrcode-container {
    display: none;
    position: absolute;
    bottom: 100%;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);

    .qrcode {
        width: 100%;
    }
}