header {
    padding: 20px
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 40px;
}

.logo-txt {
    font-size: 30px;
    font-weight: 700;
    color: #ff860d;
    margin-left: 5px;
}