<header>
  <div class="logo">
    <img class="logo-img" src="assets/images/logo.png">
    <span class="logo-txt">Coeus</span>
  </div>
</header>
<div class="background">
  <video muted src="assets/videos/bg.mp4" loop="loop" autoplay="autoplay"></video>
</div>
<section>
  <div class="projects-container">
    <div class="project" *ngFor="let item of (projects$ | async)">
      <coeus-project-card [project]="item">
      </coeus-project-card>
    </div>
  </div>
</section>

<a class="keep-on-record" href="http://www.beian.miit.gov.cn" target="_blank">蜀ICP备19022432号</a>