header {
    padding: 20px
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 40px;
}

.logo-txt {
    font-size: 30px;
    font-weight: 700;
    color: #ff860d;
    margin-left: 5px;
}

.background {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
    background: url(/assets/images/bg1.jpg) no-repeat;
    background-size: cover;
}

.projects-container {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.project {
    background: #fff;
    border-radius: 5px;
    margin-right: 20px;
}