header {
    padding: 0;
}

.logo {
    position: fixed;
    left: 60px;
    top: 32px;
    z-index: 20;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo-img {
    width: 40px;
}

.logo-txt {
    font-size: 30px;
    font-weight: 700;
    color: #ff860d;
    margin-left: 5px;
}

.keep-on-record {
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: #c5c5c5;
    font-size: 12px;
    transition-duration: .2s;
    text-decoration: none;

    &:hover {
        color: #D1335B;
    }
}

.page-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url(/assets/images/bg3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    top: 0;
    left: 0;

    &::after {
        content: "";
        background: -webkit-gradient(linear, right top, left top, from(#D1335B), to(#00152e));
        background: linear-gradient(to left, #D1335B, #00152e);
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        opacity: 0.7;
    }
}

.bg-cover-mask {
    background-color: rgba(2, 3, 10, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.menu-wrapper {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 60px;
    z-index: 2;
}

.nav-points-wrapper {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 60px;
    z-index: 2;

    ul {
        margin: 0;
        padding: 0;

        li {
            display: block;
            width: 14px;
            height: 13px;
            margin: 7px;
            position: relative;

            a {
                display: block;
                position: relative;
                z-index: 1;
                width: 100%;
                height: 100%;
                cursor: pointer;
                text-decoration: none;
                opacity: 0.2;

                span {
                    border-radius: 50%;
                    position: absolute;
                    z-index: 1;
                    height: 4px;
                    width: 4px;
                    border: 0;
                    background: #fff;
                    left: 50%;
                    top: 50%;
                    margin: -2px 0 0 -2px;
                    transition: all .1s ease-in-out;

                    &::after {
                        background: rgba(255, 255, 255, 0.15);
                        position: absolute;
                        content: '';
                        display: block;
                        top: 0px;
                        left: 0px;
                        right: 0px;
                        bottom: 0px;
                        border-radius: 40px;
                        transition: 0.3s;
                    }
                }

                &.active {
                    opacity: 1;

                    span {
                        height: 8px;
                        width: 8px;
                        margin: -4px 0 0 -4px;
                        border-radius: 100%;
                        background: #fff;
                        position: absolute;

                        &::after {
                            top: -4px;
                            left: -4px;
                            bottom: -4px;
                            right: -4px;
                            border-color: #ffffff;
                        }
                    }
                }

                &:hover {
                    opacity: 0.6;
                }
            }

            &:hover {
                a {
                    span {
                        width: 10px;
                        height: 10px;
                        margin: -5px 0 0 -5px;
                    }
                }
            }
        }
    }
}

.scroll-container {
    height: 100%;
    position: relative;
    touch-action: none;
    transform: translate3d(0px, 0px, 0px);
    transition: all 0.7s ease 0s;

    &.index-1 {
        transform: translate3d(0px, -100%, 0px);
    }

    &.index-2 {
        transform: translate3d(0px, -200%, 0px);
    }

    &.index-3 {
        transform: translate3d(0px, -300%, 0px);
    }

    .section {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: 1;
        height: 100%;
    }
}

.menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu-item {
    margin-bottom: 15px;
    opacity: .5;

    &.active,
    &:hover {
        opacity: 1;

        .iconfont {
            background: #ffffff !important;
            color: #8b8b8b !important;
        }

        .name {
            color: #ffffff;
        }
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.menu-item-info {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #8b8b8b;
    text-decoration: none;
    transition-duration: .2s;

    .iconfont {
        width: 26px;
        height: 26px;
        padding-top: 1px;
        background: rgba(255, 255, 255, 0.2);
        color: #ffffff;
        border-radius: 40px;
        transition: 0.6s;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.name {
    display: inline-block;
    margin-left: 15px;
}