<header>
  <div class="logo">
    <img class="logo-img" src="assets/images/logo.png">
    <span class="logo-txt">Coeus</span>
  </div>
</header>
<div class="menu-wrapper">
  <ul id="scroll-menu" class="menu">
    <li class="menu-item" [ngClass]="{'active': currentHash == menu.id}" *ngFor="let menu of menus;let index = index">
      <a class="menu-item-info" href="#{{menu.id}}" (click)="menuSelect(index)">
        <i class="iconfont" [ngClass]="menu.icon"></i>
        <span class="name">{{menu.name}}</span>
      </a>
    </li>
  </ul>
</div>
<div class="nav-points-wrapper">
  <ul>
    <li *ngFor="let menu of menus;let index=index">
      <a href="#{{menu.id}}" [ngClass]="{'active': menu.id == currentHash}" (click)="menuSelect(index)">
        <span></span>
      </a>
    </li>
  </ul>
</div>
<div class="page-bg">
  <div class="bg-cover-mask"></div>
</div>
<div class="scroll-container" [ngClass]="currentClass">
  <div class="section">
    <coeus-introduction></coeus-introduction>
  </div>
  <div class="section">
    <coeus-projects></coeus-projects>
  </div>
  <div class="section">
    <coeus-contact></coeus-contact>
  </div>
  <div class="section">
    <coeus-about></coeus-about>
  </div>
</div>
<footer>
  <a class="keep-on-record" href="http://www.beian.miit.gov.cn" target="_blank">蜀ICP备19022432号</a>
</footer>