<div class="contact">
    <h2>联系我们</h2>
    <h4 class="desc">如果对我们的公司和产品有疑问，欢迎和我们联系</h4>
    <div class="contact-info">
        <div class="contact-item">
            <h3>联系方式</h3>
            <div class="desc">
                <p>电话：028-123456</p>
                <p>邮箱：coeus@email.com</p>
            </div>
        </div>
        <div class="contact-item">
            <h3>地址</h3>
            <div class="desc">
                <p>地址：四川成都XX中心X楼X号</p>
            </div>
        </div>
    </div>
</div>